@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --font-color: #3f3f46;
    --background-color: #ffffff;
    --primary-color: #8b5cf6;
    --primary-hover: #7c3aed;
    --zinc: #e4e4e7;
    --red: #ef4444;
    --gray: #71717a;
    --skeleton-color-start: #f3f4f6;
    --skeleton-color-end: #d1d5db;
}

[data-theme='dark'] {
    --font-color: #d4d4d8;
    --background-color: #27272a;
    --primary-color: #6d28d9;
    --primary-hover: #7c3aed;
    --zinc: #18181b;
    --red: #b91c1c;
    --gray: #a1a1aa;
    --skeleton-color-start: #374151;
    --skeleton-color-end: #4b5563;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px var(--background-color) inset;
    -webkit-box-shadow: 0 0 0 30px var(--background-color) inset;
    -webkit-text-fill-color: var(--font-color);
}

.wrapper {
    max-width: 1280px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: var(--primary-color);
    border-bottom: 1px solid var(--zinc);
}

.header-text {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

main {
    margin: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.25rem;
}

.input-box {
    width: 100%;
    border: 1.5px solid var(--gray);
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    outline: none;
    color: var(--gray);
    background-color: var(--background-color);
}

.input-box-body {
    height: 16rem
}

.input-box:focus,
.input-box:focus-visible {
    border-color: var(--primary-color);
}

.input-desc {
    font-size: 0.75rem;
    color: var(--gray);
    text-align: end;
}

.input-append {
    position: relative;
}

.input-append-icon {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.error-message {
    color: var(--red);
    font-weight: 500;
    height: 1rem;
    font-size: 14px;
}

.error-input {
    color: var(--red);
}

.error-border-box {
    border: 1.5px solid var(--red);
}

.note-search {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.note-search-icon {
    color: var(--gray);
    position: absolute;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.note-search-input {
    padding-left: 2.5rem;
}

.top-nav-wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2rem;
    gap: 1rem;
}

.top-nav-link {
    align-self: flex-end;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.top-nav-link:hover,
.top-nav-link:focus-visible {
    color: var(--primary-hover);
    cursor: pointer;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
    outline: none;
    border: transparent;
    font-size: 14px;
    white-space: nowrap;
}

.button-primary {
    color: #ffffff;
    background-color: var(--primary-color);
}

.button-primary:hover,
.button-primary:focus-visible {
    background: var(--primary-hover);
}

.button-secondary {
    background-color: transparent;
    border: 1.5px solid var(--primary-color);
    color: var(--primary-color);
}

.button-secondary:hover,
.button-secondary:focus-visible {
    background-color: var(--primary-color);
    color: #ffffff;
}

.button-tertiary {
    background-color: transparent;
    color: #6b7280;
}

.button-tertiary:hover,
.button-tertiary:focus-visible {
    color: var(--font-color);
}

.add-note {
    display: flex;
    justify-content: flex-end;
}

.add-note-button {
    width: 100%;
}

.list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.list-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.list-item {
    background-color: var(--zinc);
    border-radius: 10px;
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.list-item-title {
    font-size: 1.5rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--primary-color);
}

.list-item-title:hover,
.list-item-title:focus-visible {
    color: var(--primary-hover);
    text-decoration: underline;
}

.list-item-date {
    font-size: 0.75rem;
    color: var(--gray);
}

.list-item-body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.list-item-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
    gap: 1rem;
}

.detail-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.detail-button {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
    gap: 1rem;
}

.not-found {
    width: 100%;
    height: calc(100vh - 70px - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}

.login-title {
    text-align: center;
    margin-bottom: 2rem;
}

.card {
    width: 100%;
    margin: auto;
    border-radius: 10px;
    padding: 1.75rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.auth-message {
    margin-top: 2rem;
    text-align: center;
}

.auth-message-link {
    color: var(--primary-color);
}

.auth-message-link:hover {
    color: var(--primary-hover);
    text-decoration: underline;
}

.header-button {
    display: flex;
    align-items: center;
}

.dropdown-wrapper {
    position: static;
}

.dropdown {
    position: absolute;
    top: 7rem;
    right: 10px;
    left: 10px;
    z-index: 10;
    background-color: var(--background-color);
    color: var(--font-color);
    border-radius: 10px;
    padding: 1.75rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    box-shadow: 2px 2px 2px 0px var(--zinc);
    -webkit-box-shadow: 2px 2px 2px 0px var(--zinc);
    -moz-box-shadow: 2px 2px 2px 0px var(--zinc);
    border: 1px solid var(--zinc);
}

.dropdown-name {
    font-weight: 600;
}

.dropdown-email {
    color: #6b7280;
    margin-bottom: 2rem;
}

.languange-code {
    width: 1rem;
    text-transform: uppercase;
}

.skeleton-title {
    width: auto;
    max-width: 40rem;
    height: 28px;
    margin: 0.5rem 0;
    border-radius: 0.3rem;
}

.skeleton-subtitle {
    width: auto;
    max-width: 20rem;
    height: 12px;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}

.skeleton-content {
    width: auto;
    height: 16px;
    margin-bottom: 0.4rem;
    border-radius: 0.25rem;
}

.skeleton-button {
    width: 100%;
    height: 40px;
    border-radius: 0.5rem;
}

.skeleton-back {
    width: 128px;
    height: 40px;
    border-radius: 0.5rem;
}
.skeleton-detail {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.skeleton-detail-button {
    width: 100%;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: var(--skeleton-color-start);
    }
    100% {
        background-color: var(--skeleton-color-end);
    }
}

.-ml-4 {
    margin-left: -1rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.my-4 {
    margin: 1rem 0;
}

@media (min-width: 640px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .note-search {
        max-width: 20rem;
    }

    .list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .add-note-button {
        width: auto;
    }

    .top-nav-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        width: 24rem;
        box-shadow: 2px 2px 2px 0px var(--zinc);
        -webkit-box-shadow: 2px 2px 2px 0px var(--zinc);
        -moz-box-shadow: 2px 2px 2px 0px var(--zinc);
        border: 1px solid var(--zinc);
    }

    .dropdown-wrapper {
        position: relative;
    }

    .dropdown {
        width: 16rem;
        top: 2.5rem;
        right: 0;
        left: auto;
    }
}

@media (min-width: 768px) {
    header {
        padding: 1rem 2rem;
    }

    main {
        margin: 1rem 2rem;
        flex-direction: row;
    }

    .list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .list-item-button {
        flex-direction: column;
    }

    .detail-button {
        flex-direction: row-reverse;
        justify-content: flex-start;
        width: auto;
    }

    .skeleton-detail-button {
        width: 10rem;
    }
}

@media (min-width: 1024px) {
    .list {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
