@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    color: #3f3f46;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    max-width: 1280px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: #8b5cf6;
    border-bottom: 1px solid #e4e4e7;
}

.header-text {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

main {
    margin: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.25rem;
}

.input-box {
    width: 100%;
    border: 1.5px solid #71717a;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    outline: none;
    color: #71717a;
}

.input-box-body {
    height: 16rem
}

.input-box:focus,
.input-box:focus-visible {
    border-color: #8b5cf6;
}

.input-desc {
    font-size: 0.75rem;
    color: #71717a;
    text-align: end;
}

.error-message {
    color: #fc0303;
    font-weight: 600;
    height: 1rem;
}

.error-input {
    color: #fc0303;
}

.error-border-box {
    border: 1.5px solid #fc0303;
}

.note-search {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.note-search-icon {
    color: #71717a;
    position: absolute;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.note-search-input {
    padding-left: 2.5rem;
}

.top-nav-wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2rem;
    gap: 1rem;
}

.top-nav-link {
    align-self: flex-end;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.top-nav-link:hover,
.top-nav-link:focus-visible {
    color: #7c3aed;
    cursor: pointer;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: none;
    border: transparent;
    font-size: 14px;
    white-space: nowrap;
}

.button-primary {
    color: #ffffff;
    background-color: #8b5cf6;
}

.button-primary:hover,
.button-primary:focus-visible {
    background: #7c3aed;
}

.button-secondary {
    background-color: transparent;
    border: 1.5px solid #8b5cf6;
    color: #8b5cf6;
}

.button-secondary:hover,
.button-secondary:focus-visible {
    background-color: #8b5cf6;
    color: #ffffff;
}

.button-tertiary {
    background-color: transparent;
    color: #6b7280;
}

.button-tertiary:hover,
.button-tertiary:focus-visible {
    color: #3f3f46;
}

.add-note {
    display: flex;
    justify-content: flex-end;
}

.add-note-button {
    width: 100%;
}

.list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.list-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.list-item {
    background-color: #e4e4e7;
    border-radius: 10px;
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.list-item-title {
    font-size: 1.5rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #8b5cf6;
}

.list-item-title:hover,
.list-item-title:focus-visible {
    color: #7c3aed;
    text-decoration: underline;
}

.list-item-date {
    font-size: 0.75rem;
    color: #71717a;
}

.list-item-body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.list-item-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
    row-gap: 1rem;
}

.detail-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.detail-button {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
    gap: 1rem;
}

.not-found {
    width: 100%;
    height: calc(100vh - 70px - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}

.-ml-4 {
    margin-left: -1rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.my-4 {
    margin: 1rem 0;
}

@media (min-width: 640px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .note-search {
        max-width: 20rem;
    }

    .list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .add-note-button {
        width: auto;
    }

    .top-nav-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    header {
        padding: 1rem 2rem;
    }

    main {
        margin: 1rem 2rem;
        flex-direction: row;
    }

    .list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .list-item-button {
        flex-direction: column;
    }

    .detail-button {
        flex-direction: row-reverse;
        justify-content: flex-start;
        width: auto;
    }
}

@media (min-width: 1024px) {
    .list {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
